/* :root {
	--wall-color: #161c24;
	--hover-color: #3b1f25;
	--active-color: #0091ea;
	--primary-color: #212b36;
	--typing-color: #ffffff;
	--text-sidebar-color: #919eab;
	--hover-background: #252c35;
	--header-height: 80px;
	--animation-duration: 200ms;
	--animation-timing-curve: ease-in-out;

} */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.login2fa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.login2fa .input_error {
  padding-left: 30px;
}
.login2fa label {
  color: white;
}

.login2fa div {
  display: flex;
  gap: 20px;
}

.ChatContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.chatComponentStyle {
  /* overflow: hidden; */
  background-color: #212b36;
  border-radius: 12px;
  height: calc(85vh + 0px);
  margin: 0 auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 2fr 5fr;
  color: #d0d6dc;
  overflow: hidden;
  width: 70%;
}

.chatSideBar {
  border-radius: 30px 0 0 30px;
  width: 100%;
  height: calc(85vh + 0px);
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 0;
  border-right: 2px solid #3e4751;
  gap: 20px;
  color: #d0d6dc;
}

.Contactslist {
  /* background-color: red; */
  width: 100%;
  height: calc(60vh + 0px);
  overflow: scroll;
  color: #d0d6dc;
  -ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;
}

.Contactslist::-webkit-scrollbar {
  /* width: 100%; */
  display: none;
}

.roomsList {
  width: 100%;
  height: calc(60vh + 0px);

  overflow: scroll;
  color: #d0d6dc;
  -ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;
}

.roomsList::-webkit-scrollbar {
  /* width: 100%; */
  display: none;
}

.chatSideBar h2 {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-left: 20px;
  font-weight: 400;
}

.chatSwitchButtons {
  width: 100%;
  /* height: ; */
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  /* gap: 10px; */
  margin-bottom: 5px;
  height: 50px;
}

.btn_toogle {
  background-color: #212b36;
  width: 100%;
  padding: 10px 30px;
  font-size: 18px;
  text-align: center;
  color: #d0d6dc;
  border: none;
  background-color: #212b36;
  border-bottom: 2px solid #1acaff00;
  height: 60px;
}
.btn_toogle:hover {
  cursor: pointer;
}

.selected_btn {
  border: none;
  background-color: none;
  border-radius: 0;
  border-bottom: 2px solid #0091ea;
  color: #0091ea;
}

.main_user {
  min-width: 100.5%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  color: #d0d6dc;
  text-align: left;
  text-transform: capitalize;
  font-weight: 400;
  border-bottom: 2px solid #3e4751;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-top: 10px;
}

.receiver_Channel {
  min-width: 100.5%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  color: #d0d6dc;
  text-align: left;
  text-transform: capitalize;
  font-weight: 400;
  border-bottom: 2px solid #3e4751;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-top: 10px;
}

.receiverInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #3e4751;
  object-fit: cover;
}

.room {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #919eab;
}

.contact {
  padding: 5px 0;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding-left: 20px;
}
.contact_status {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  justify-items: flex-end;
}

.selected_contact {
  background-color: #3e4751;
}

.contact:hover {
  background-color: #3e4751;
  cursor: pointer;
}

.contact .contact_avatar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact .contact_avatar .avatar {
  border: none;
  width: 50px;
  height: 50px;
}

.contact .contact_avatar h4 {
  color: #d0d6dc;
  font-weight: 400;
  text-transform: capitalize;
}
.playing {
  font-size: 12px;
  /* border: 1px solid #0091ea; */
  color: #0091ea;
  border-radius: 5px;
  padding: 5px 10px;
}

.onlineCircle {
  background-color: green;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 50px;
}

.offlineCircle {
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 50px;
}

.chatPannel {
  height: 100%;
}

.message {
  /* background-color: green; */
  min-width: 100px;
  height: calc(73vh + 0px);
  border-radius: 0 30px 30px 0;
  /* border: 1px solid #0091ea; */
}
.Channel_senderName {
  align-self: flex-start;
  margin: 0 0px 15px 20px;
  position: absolute;
  top: -16px;
  left: -20px;
  color: #d0d6dc;
}
.Channel_senderName:hover
{
  cursor: pointer;
}

.message_head {
  border-bottom: 2px solid #3e4751;
  width: 100%;
  height: 100px;
  /* padding-top: 10px; */
}

.no_contacts {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no_contacts h4 {
  font-weight: 300;
}
.reciverInfo {
  width: 100%;
  height: 100%;
}

.room_management {
  /* width: 100%; */
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  padding: 20px;
}

.room_button {
  background-color: #0091ea;
  border: 2px solid #0091ea;
  font-size: 18px;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  text-transform: capitalize;
}
.room_button:hover {
  background-color: #212b36;
  border: 2px solid #0091ea;
  color: #0091ea;
  cursor: pointer;
}
.leave_room {
  background-color: #212b36;
  border: 2px solid #0091ea;
  color: #0091ea;
}
.leave_room:hover {
  border: 2px solid #0091ea;
  background-color: #0091ea;
  color: white;
}

.manage_room:hover {
  background-color: #0091ea;
  border: 2px solid #0091ea;
  color: white;
  cursor: pointer;
}

.block_user {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 30px;
}
.block_user_button {
  font-size: 18px;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  text-transform: capitalize;
  background-color: #212b36;
  border: 2px solid #0091ea;
  color: #0091ea;
  border: 2px solid #0091ea;
}
.block_user_button:hover {
  background-color: #0091ea;
  border: 2px solid #0091ea;
  color: white;
  cursor: pointer;
}

.message_body {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 11fr 1fr;
  padding: 20px 20px 0 20px;
  -ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;
  /* gap: 20px; */
}

.message_body::-webkit-scrollbar {
  display: none;
}

.messages_list {
  width: 100%;
  height: 100%;
  padding: 10px 30px;
  /* background-color: #d0d6dc; */
  overflow: scroll;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* padding-right: 5%; */
  -ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;
}

.messages_list::-webkit-scrollbar {
  width: 100%;
  display:none;
}

.message_input {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
.message_input form {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-items: center;
  align-items: center;
  gap: 10px;
  padding-left: 0;
  /* padding-right: 5%; */
  border-radius: 50px;
  width: 100%;
  height: 55px;
  background-color: #212b36;
  border: 2px solid #0091ea;
}

.message_input form input {
  font-size: 20px;
  border-radius: 50px;
  width: 100%;
  height: 40px;
  background-color: #212b36;
  border: 2px solid #0091ea;
  border: none;
  color: white;
  padding: 21px;
  margin-left: 15px;
}
.message_input form input:focus {
  border: none;
  outline: none;
  background-color: #212b36;
}

.message_input form button {
  border-radius: 50%;
  height: 40px;
  min-width: 40px;
  background-color: #0091ea;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
.message_input form button:hover {
  cursor: pointer;
}

.message_content {
  background-color: #d0d6dc;
  min-width: 200px;
  color: #212b36;
  /* min-height: 50px; */
  border-radius: 0px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 20px;
  margin: 15px 0;
  display: grid;
  grid-template-rows: 1fr;
  align-self: flex-start;
  position: relative;
}
.message_content  p{
  min-width: 100px;
  font-size: 16px;
  /* height: 100%; */
  font-weight: 500;
  overflow-wrap: break-word;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.message_main_user {
  align-self: flex-end;
  background-color: #0091ea;
  color: white;
  margin: 10px 0;
  border-radius: 20px 20px 0px 20px;
}

.noreceiver {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  height: 800px;
}

.loginContainner {
  margin-top: 25vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.loginContainner svg
{
  height: 150px;
}
.loginContainner div
{
  display: flex;
  align-items: center;
  justify-content: center;
}


.loginForm {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
}

.loginForm * {
  width: 500px;
  margin: 10px;
  height: 50px;
  font-size: large;
}
/* room button */
.create_room {
  display: flex;
  justify-content: center;
  align-items: center;
}
.create_room_button {
  background-color: #212b36;
  color: #0091ea;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 10px;
  border: 2px solid #0091ea;
}
.create_room_button:hover {
  background-color: #0091ea;
  cursor: pointer;
  color: white;
}

.chatDrawer {
  display: none;
}

.new_room {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
  color: whitesmoke;
}
.new_room .channelType {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.new_room .channelType button {
  width: 120px;
  height: 50px;
  display: flex;
  background-color: #0091ea;
  color: #212b36;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #0091ea;
}

.new_room .channelType .selected {
  background-color: #212b36;
  color: #0091ea;
}
.new_room input {
  width: 90%;
  height: 50px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  margin: 10px;
}

.new_room label {
  font-size: 18px;
}
.create_Channel {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.create_Channel_button {
  background-color: #212b36;
  color: #0091ea;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 10px;
  border: 2px solid #0091ea;
}
.create_Channel_button:hover {
  background-color: #0091ea;
  cursor: pointer;
  color: white;
}
.input_error {
  width: 300px;
  overflow-wrap: break-word;
  color: #0091ea;
}
.input_error h5 {
  margin: 0;
  padding: 5px;
  font-weight: 400;
}

.joinProtectedRoom form {
  display: flex;
  flex-direction: column;
  height: 60%;
  color: #d0d6dc;
  font-size: 20px;
}
.joinProtectedRoom form input {
  width: 100%;
  height: 50px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  margin: 5px 0 10px 0;
  padding-left: 10px;
}
.manageMembers {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.manageMembers > div {
  color: #d0d6dc;
  width: 100%;
  margin-bottom: 10px;
}

.manageMembers form {
  color: #d0d6dc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.manageMembers form .input {
  width: 100%;
  height: 40px;
  font-size: 18px;
  margin-top: 5px;
  margin-right: 10px;
  border-radius: 3px;
  border: none;
  padding-left: 10px;
  margin-bottom: 20px;
}

.manageMembers form .leave_room {
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .chatComponentStyle {
    grid-template-columns: 1fr;
    position: relative;
  }
  .message {
    width: 100%;
  }
  .chatDrawer {
    display: inline;
    width: 50px;
    height: 50px;
    background-color: #0091ea;
    margin-top: 20px;
    margin-left: 20px;
    border: none;
    border-radius: 10px;
    position: absolute;
    top: 5px;
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* .noreceiver
  {
    display: none;
  } */

  .chatSideBar {
    border-right: none;
  }
  .room_management {
    margin-right: 100px;
  }
}
@media (max-width: 900px)
{

	.chatComponentStyle {
		width: 92%;
  }
}