@import url('http://fonts.cdnfonts.com/css/btc-gaming');
@import url('http://fonts.cdnfonts.com/css/deltha');

:root {
	--wall-color: #161c24;
	--hover-color: #3b1f25;
	--active-color: #ff3030;
	--primary-color: #212b36;
	--typing-color: #ffffff;
	--text-sidebar-color: #919eab;
	--hover-background: #252c35;
	--header-height: 80px;
	--animation-duration: 200ms;
	--animation-timing-curve: ease-in-out;
}

.header {
	box-sizing: border-box;
	display: flex;
	width: 100%;
	height: 80px;
	flex-direction: row;
	align-items: center;
	position: sticky;
	justify-content: space-between;
	top: 0;
	background-color: rgba(22, 28, 36, 0.73);
	padding: 0.5rem 0.5rem;
	z-index: 1;
}

.header .left-items img {
	object-fit: cover;
}
.logo-container {
	position: relative;
	width: 65px;
	height: 70px;
	margin-left: 0rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left-items {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 8rem;
	flex-direction: row;
}

.header-user-name {
	color: #919eab;
	/* font-weight: 600; */
}

.user-container {
	position: relative;
	/* left: 88%; */
	border-radius: 50px;
	overflow: hidden;
	width: 45px;
	height: 45px;
	cursor: pointer;
}

/* .user-container:hover {
	width: 46px;
	height: 46px;
} */

.btn-notification {
	width: 50px;
	height: 50px;
	background-color: rgba(22, 28, 36, 0);
	border: none;
	border-radius: 50px;
}

.btn-notification:hover {
	background-color: rgba(37, 44, 53, 0.5);
}

.notification-icon {
	align-self: flex-end;
	width: 25px;
	height: 25px;
	cursor: pointer;
	fill: var(--text-sidebar-color);
}

.menu-icon-btn {
	background: none;
	border: none;
	padding: 0;
}

.menu-icon {
	width: 35px;
	height: 35px;
	fill: var(--text-sidebar-color);
	cursor: pointer;
}

.menu-icon:hover {
	width: 40px;
	height: 40px;
	fill: var(--text-sidebar-color);
	animation: width var(--animation-duration) var(--animation-timing-curve);
	animation: height var(--animation-duration) var(--animation-timing-curve);
}

.sidebar {
	flex-shrink: 0;
	line-height: 50px;
	overflow: hidden;
	width: 80px;
	/* border-right: 0.1px dotted var(--text-sidebar-color); */
	display: flex;
	flex-direction: column;
	height: calc(100vh - var(--header-height));
	padding-top: 1rem;
	align-items: center;
	justify-content: stretch;
	transition: width var(--animation-duration) var(--animation-timing-curve);
	position: sticky;
	left: 0;
	top: var(--header-height);
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none;
}
.sidebar::-webkit-scrollbar {
	display: none;
}

.hidden-sidebar {
	color: var(--text-sidebar-color);
}

.sidebar:hover {
	width: 200px;
}

.sidebar.open .hidden-sidebar {
	width: 100%;
	height: auto;
	opacity: 1;
}

.sidebar .top-sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sidebar .channel-logo {
	display: block;
	width: 30px;
	height: 30px;
	transition: var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .channel-logo {
	width: 90px;
	height: 90px;
}

.middle-sidebar {
	overflow-y: auto;
	overflow-x: hidden;
	flex-grow: 1;
	margin: 1rem 0;
}

.middle-sidebar,
.bottom-sidebar {
	width: 100%;
}

.container {
	/* display: flex; */
	border: 1px solid green;
	height: calc(100vh - var(--header-height));
	/* width: 100%;
	height: 100%; */
	/* flex-direction: row; */
	/* border: 2px solid yellow; */
	/* background-color: aqua; */
}

.sidebar-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style: none;
}

.sidebar.open .sidebar-link {
	justify-content: flex-start;
}

.sidebar-icon {
	width: 30px;
	height: 30px;
	flex-shrink: 0;
	fill: inherit;
}

.sidebar-list .hidden-sidebar {
	margin-left: 1.5rem;
	white-space: nowrap;
}

.sidebar-link {
	display: flex;
	/* border-radius: 5px; */
	width: 100%;
	padding: 0.5rem 0;
	color: var(--text-sidebar-color);
	text-decoration: none;
	align-items: center;
	padding-left: 25px;
}

.sidebar-list-item {
	position: relative;
	width: 100%;
	fill: var(--text-sidebar-color);
}

.hidden-sidebar.active {
	color: var(--active-color);
	fill: #ff3030;
}

.sidebar-list-item.active {
	fill: var(--active-color);
	background-color: var(--hover-color);
}

.sidebar-list-item:hover {
	background-color: var(--hover-background);
}

.sidebar-list-item.active::before {
	content: "";
	background-color: var(--accent-color);
	height: 100%;
	left: 0;
	width: 3px;
	position: absolute;
}

.sidebar .top-sidebar {
	height: 30px;
	transition: height var(--animation-duration) var(--animation-timing-curve);
}

.sidebar .hidden-sidebar {
	text-align: justify;
	width: 100%;
}

.profile-container {
	display: flex;
	flex: 0 0 auto;
	flex-direction: row;
	width: 100%;
	height: 100%;
	/* min-height: 800px; */
	/* border: 1px solid yellow; */
	/* background-color: #ff3030; */
}

.profile-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 100%;
	height: 100%;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none;
	/* max-height: 2500px; */
	/* border: 1px solid yellowgreen; */
}
.game-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 100%;
	height: 70%;
	/* max-height: 2500px; */
	/* border: 1px solid yellowgreen; */
}

.profile-content::-webkit-scrollbar {
	display: none;
}

.profile-wall {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	/* border: 1px solid wheat; */
	border-radius: 12px;
	width: 70%;
	max-width: 1200px;
	height: 300px;
	min-height: 250px;
	overflow: hidden;
	min-width: 300px;
	transition: 450ms ease-in-out;
}

.profile-data {
	display: flex;
	width: 70%;
	flex-direction: row;
	justify-content: space-between;
	gap: 10px;
	/* justify-content: center; */

	max-width: 1200px;
	min-width: 300px;
	min-height: 1000px;
	/* border: 1px solid white; */
	border-radius: 12px;
	height: calc(100vh - 350px - var(--header-height));
	/* min-width: 860px; */
	overflow-x: auto;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none;
}

.profile-data::-webkit-scrollbar {
	display: none;
}

.profile-data-row1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	gap: 5px;
	width: 30%;
	height: 16%;
	min-height: 50px;
	/* border: 1px solid red; */
	background-color: var(--primary-color);
	border-radius: 12px;
	margin-top: 1.6rem;
}

.profile-data-row2 {
	width: 65%;
	height: 100%;
	/* border: 1px solid blue; */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.history-label {
	width: 100%;
	height: 45%;
	/* border: 1px solid wheat; */
	border-radius: 12px;
	/* margin-top:3rem; */
	background-color: var(--primary-color);
}

.friends-label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	width: 100%;
	height: 45%;
	/* border: 1px solid whitesmoke; */
	border-radius: 12px;
	/* margin-top:3rem; */
	background-color: var(--primary-color);
	/* overflow-y: scroll; */
	overflow: hidden;
}

.friends-label::-webkit-scrollbar {
	display: none;
}

.friends-card::-webkit-scrollbar {
	display: none;
	color: red important;
	background-color: #ff3030 important;
	overflow: hidden;
}

/* .friends-card {
	-ms-overflow-style: none;
	scrollbar-width: none;
} */

.friends-label-header {
	/* display: flex; */
	box-sizing: border-box;
	text-align: left;
	padding-top: 20px;
	/* align-items: center; */
	/* justify-content: flex-start; */
	/* justify-content: space-between; */
	/* border: 1px solid white; */
	width: 100%;
	height: 50px;
	/* overflow-y: scroll; */
}

.friends-label-header h4 {
	margin-left: 32px;
	font-size: 1.4rem;
	font-weight: 300;
}

.list-of-friends {
	display: flex;
	width: 100%;
	height: auto;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	overflow-y: scroll;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none;
}
.list-of-friends::-webkit-scrollbar {
	display: none;
}

.history-card {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	height: 85px;
	overflow: hidden;
	border-radius: 12px;
	margin-top: 10px;
	/* border: 1px solid salmon; */
	cursor: pointer;
	background-color: #333d49;
	position: relative;
}

.opponent-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.friends-card {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	height: 70px;
	overflow: hidden;
	border-radius: 12px;
	margin-top: 10px;
	/* border: 1px solid salmon; */
	cursor: pointer;
	background-color: #333d49;
	position: relative;
}

.friends-card-img {
	display: flex;
	width: 60px;
	height: 60px;
	border: 1px solid white;
	overflow: hidden;
	position: relative;
	right: 10%;
	border-radius: 50%;
}

.friends-card-img-name {
	width: 50%;
	position: relative;
	gap: 20px;
	/* margin-right: 25px; */
	display: flex;
	flex-direction: row;
	align-items: center;
	/* justify-content: space-evenly; */
}

.history-card-img img {
	object-fit: cover;
}

.history-card-img {
	display: flex;
	width: 55px;
	height: 55px;
	border: 1px solid white;
	overflow: hidden;
	position: relative;
	/* right: 10%; */
	border-radius: 50%;
}

.score-card {
	width: 180px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile-wall-bg {
	height: 85%;
	width: 100%;
	/* background-image: url("http://localhost:5000/users/uploads/xo.jpeg"); */
	background-repeat: no-repeat;
	/* background-size: cover; */
	overflow: hidden;
	opacity: 0.6;

	/* border: 1pxk solid sandybrown; */
}

.profile-wall-img-user {
	position: absolute;
	object-fit: cover;
	border-radius: 50%;
	top: 55%;
	left: 2%;
	width: 115px;
	height: 115px;
	border: 1px solid white;
	overflow: hidden;
	transition-duration: 450ms;
	transition-timing-function: ease-in-out;
  z-index: 1;
}
.profile-wall-img-user img {
	object-fit: cover;
}

.profile-wall-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	gap: 15px;
	width: 100%;
	height: 15%;
	background-color: var(--primary-color);
	overflow-x: auto;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none;
  opacity: 0.9;
}

.profile-wall-nav::-webkit-scrollbar {
	display: none
}
.profile-wall-nav img {
	object-fit: cover;
}

.profile-btn-div {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	gap: 5px;
	/* width: 80px; */
	cursor: pointer;
	padding: 5px;
	border-bottom: 1px solid #212b36;
}

.profile-btn-div:hover {
	background-color: var(--hover-background);
	/* border-bottom: 1px solid white; */
	color: white;
}

.profile-icon {
	width: 22px;
	height: 22px;
	fill: var(--text-sidebar-color);
}

.statics-header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 20%;
}

.statics-header h4 {
	position: absolute;
	top: 50%;
	font-size: 20px;
	font-weight: 350;
}

.statics-games {
	display: flex;
	width: 100%;
	height: 80%;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/* border: 1px solid mediumaquamarine; */
}

.statics-win,
.statics-loss {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.hr-line {
	height: 50px;
	border: none;
	border-right: 1.2px solid var(--text-sidebar-color);
}
.p-statics {
	display: flex;
	color: #86929f;
	font-size: 1.5rem;
	font-weight: 200;
}

.h3-statics {
	color: white;
	font-size: 2rem;
	font-weight: 300;
}

.edit-modal {
	background-color: var(--primary-color);
	width: 350px;
	height: 400px;
	/* max-width: 500px;
	max-height: 450px; */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* border: 0.1px solid white; */
	border-radius: 12px;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	z-index: 1000;
}
.invite-modal
{
	background-color: var(--primary-color);
	width: 350px;
	height: 200px;
	/* max-width: 500px;
	max-height: 450px; */
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* border: 0.1px solid white; */
	border-radius: 12px;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	z-index: 1000;
}

.modal-picture {
	width: 300px;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	/* border: 1px solid red; */
	margin-bottom: -25px;
}
.edit-modal-qr{
	background-color: var(--primary-color);
	width: 350px;
	height: 400px;
	/* max-width: 500px;
	max-height: 450px; */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* border: 0.1px solid white; */
	border-radius: 12px;
	position: fixed;
	display: flex;
	align-items: center;
	/* justify-content: center; */
	gap: 50px;
	flex-direction: column;
	z-index: 2000;
}
.modal-picture-container {
	position: relative;
	width: 100px;
	height: 100px;
	overflow: hidden;
	border-radius: 50px;
}
.modal-picture-qr-container {
	background-color: #ffffff;
	top: 10px;
	position: relative;
	width: 300px;
	height: 300px;
	overflow: hidden; 
	border-radius: 50px;
}
.modal-picture-qr-container .modal-data {
	width: 300px;
	height: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.modal-data {
	width: 300px;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.modal-data-input {
	margin-right: 35px;
}

.modal-two-factor {
	margin-right: 50px;
	padding-top: 10px;
}

.modal-buttons {
	width: 300px;
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.wall-friend-card {
	/* margin: 20px 20px; */
	padding: 0;
	border-radius: 12px;
	border: 0.4px solid #919eab;
	width: 220px;
	height: 230px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: #212b36;
}

.overlay-modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 1000;
}

/* Game style :*/

.home-game-container {
	height: calc(100vh - 330px);
	/* height: 1000px; */
	width: 80%;
	min-height: 660px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #212b36;
	position: relative;
	top: 50px;
	border: 1px solid #555f6a;
	border-radius: 12px;
	transition: 300ms ease-in-out;
}

.home-game-content {
	width: 90%; 
	height: 100%;
	display: flex;
	flex-direction: column;
	/* justify-content: center;
	align-items: center; */
}

.game-header {
	font-family: Deltha, sans-serif;
	font-weight: 900; 
	font-size: 70px;
	position: relative;
	bottom: 50px;
	transition: 500ms ease-in-out
}

.game-container-data {
	height: 85%;
	display: flex;
	flex-direction: row;
	position: relative;
	
}

.game-text {
	width: 100%;
	margin-left: 50px;
	color: #555f6a;
	line-height: 30px;
	font-family: Deltha, sans-serif;
	font-size: 20px;
	transition: 500ms ease-in-out
}

.game-buttons {
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.text-buttons-container {
	width: 50%;
	height: 100%;
	border-left: 0.1px solid #919eab;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 15px;
	flex-direction: column;
}

.game-picture {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.game-loading {
	width: 50%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loading-header {
	font-family: Deltha, sans-serif;
	position: relative;
	bottom: 10px;
	font-size: 30px;
}

.game-settings {
	width: 90%;
	height: 40%;
	min-height: 450px;
	min-width: 270px;
	max-width: 550px;
	max-height: 550px;
	/* border: 0.1px solid #919eab; */
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: #333d49;
	box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);; 
}

.settings-header{
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	height: 10%;
	width: 100%;
	font-family: Deltha, sans-serif;
	font-size: 30px;
	color: #919eab;
}

.settings-form-data {
	height: 60%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.form-half {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.settings-buttons {
	height: 20%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.sideBarActive {
	position: fixed;
	z-index: 10;
	background-color: #171d25;
	line-height: 50px;
	overflow: hidden;
	width: 80px;
	/* border-right: 0.1px dotted var(--text-sidebar-color); */
	display: flex;
	flex-direction: column;
	height: calc(100vh - var(--header-height));
	padding-top: 1rem;
	align-items: center;
	justify-content: stretch;
	transition: width var(--animation-duration) var(--animation-timing-curve);
	left: 0;
	top: var(--header-height);
	transition: 400ms ease-in-out;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none;
}

.sdieBarActive::-webkit-scrollbar {
	display: none;
}


/* GAME OVER */

.game-over {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	/* gap: 70px; */
	font-family: Deltha, sans-serif;
	font-size: calc(50vw /9);
	border-radius: 12px;
	/* opacity: 0.2; */
}

.g-o-lost {
	color: red;
}

.g-o-win {
	/* background-image: url("http://localhost:5000/users/uploads/celebration.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain; */
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-over-button {
	/* width: 50%; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.score-game-live {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.game-player {
	position: relative;
	width: 85px;
	height: 85px;
	border-radius: 50px;
	overflow: hidden;
	transition: 200ms ease-in-out;
}

.game-player-username {
	font-size: 13px;
	font-family: Deltha, sans-serif;
}

@media (max-width: 850px)
{
	.game-player {
		width: 65px;
		height: 65px;
		transition: 200ms ease-in-out;
	}

	.game-player-username {
		font-size: 10px
	}
}
@media (max-width: 450px)
{
	.game-player {
		width: 45px;
		height: 45px;
		transition: 200ms ease-in-out;
	}

	.game-player-username {
		font-size: 8px
	}
}

@media (min-width: 2150px)
{
	.home-game-container {
		height: 1150px;
		transition: 200ms ease-in-out;
	}
}

@media (max-width: 1250px) {
	.game-container-data {
		flex-direction: column;
		align-items: center;
		transition: 500ms ease-in-out;
	}

	.home-game-content {
		font-size: 50px;
	}

	.game-header {
		bottom: 30px;
		font-size: 50px;
		transition: 500ms ease-in-out;
	}
	.text-buttons-container {
		border: none;
		width: 80%;
	}

	.game-text {
		margin-left: 20px;
		font-size: 13px;
		transition: 500ms ease-in-out
	}

	.game-picture {
		width: 80%;
		height: 50%;
	}

}

@media (max-width: 857px) {
	.game-header {
		bottom : 20px;
		font-size: 30px;
		transition: 300ms ease-in-out;
	}

	.text-buttons-container {
		width: 100%;
	}

	.game-text {
		margin-left: 10px;
		font-size: 10px;
		transition: 500ms ease-in-out;
	}
	.home-game-container {
		width: 97%;
		/* height: 100%; */
	}
}

@media (max-width: 450px)
{
	.game-header {
		bottom: 15px;
		font-size: 25px;
		transition: 500ms ease-in-out;
	}

	.home-game-container {
		height: 100%;
	}

	.home-game-content {
		height: 800px;
	}
}

/* .MuiMenu-paper {
} */

/* for mobile modal size: width: 320px height: 400px */

@media (max-width: 700px) {
	.sidebar:hover {
		width: 80px;
	}

	.profile-wall {
		height: 250px;
		width: 92%;
		transition: 450ms ease-in-out;
	}

	.profile-data {
		width: 92%;
	}

	.profile-wall-nav {
		justify-content: space-around;
		height: 45px;
		/* animation: justify-content var(--animation-duration) var(--animation-timing-curve); */
	}

	.profile-wall-img-user {
		left: 40.6%;
		top: 35%;
		width: 95px;
		height: 95px;
		transition-duration: 450ms;
		transition-timing-function: ease-in-out;
	}
}

@media (max-width: 900px) {
	.profile-data {
		width: 92%;
		flex-direction: column;
	}
	.profile-wall {
		height: 250px;
		width: 92%;
		transition: 450ms ease-in-out;
	}

	.profile-data {
		width: 92%;
		flex-direction: column;
	}
	.profile-wall-img-user {
		width: 95px;
		height: 95px;
		transition-duration: 450ms; 
		transition-timing-function: ease-in-out;
	}

	.profile-wall-nav {
		height: 45px;
	}

	.profile-data-row1,
	.profile-data-row2 {
		width: 100%;
		transition: 500ms ease-in-out;
	}

	.profile-data-row1 {
		height: 25%;
	}
}

@media (max-width: 550px) {
	.sidebar:hover {
		width: 80px;
	}
	.sidebar {
		display: none;
	}

	.profile-wall-nav {
		height: 45px;
		justify-content: space-around;
		/* animation: justify-content var(--animation-duration) var(--animation-timing-curve); */
	}

	.profile-wall-img-user {
		left: 35.6%;
		top: 30%;
		width: 95px;
		height: 95px;
		transition-duration: 450ms;
		transition-timing-function: ease-in-out;
	}
}
